---
import Layout from '../layouts/Layout.astro';

const title = 'Cartografías Sensoriales';
---

<Layout title={title}>
  <main class="p-8">
    <h1 class="text-3xl font-bold text-primary-navy">{title}</h1>
    <p class="mt-4 text-primary-brown">
      Plataforma de mapeo de marcas sonoras.
    </p>
  </main>
</Layout>
