---
import Layout from '../layouts/Layout.astro';
import Navigation from '../shared/ui/Navigation.astro';
import MapCard from '../features/maps/ui/MapCard.astro';
import { mockMaps } from '../features/maps/data/mock-maps';

const title = 'Cartografías Sensoriales';
---

<Layout title={title}>
  <div class="flex min-h-screen">
    <Navigation />
    <main class="flex-1 p-4 md:p-4">
      <section aria-label="Cartografías" class="">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
          {mockMaps.map((map) => <MapCard map={map} />)}
        </div>
      </section>
    </main>
  </div>
</Layout>
