---
const title = 'Cartografías Sensoriales';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <h1>{title}</h1>
      <p>Plataforma de mapeo de marcas sonoras.</p>
    </main>
  </body>
</html>
