---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Cartografías Sensoriales',
  description = 'Plataforma de mapeo de marcas sonoras',
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
